/* Content.css */
/*.Home{
    background-image: url('https://e0.pxfuel.com/wallpapers/438/72/desktop-wallpaper-carnival-dream-cruise-ship-white-big-ship-cruise-liner-luxury-ships-sea-for-with-resolution-high-quality.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 800px;
}*/
.changecontent::after{
    content: ' ';
    text-align: center;
    color: #e5ab19;
    text-shadow: 0px 1px 1px rgb(14, 13, 13);
    animation: changetext 10s infinite linear;
}
@keyframes changetext{
    0%{content: "France";}
    10%{content: "Spain";}
    20%{content: "United States";}
    30%{content: "China";}
    40%{content: "India";}
    50%{content: "Pakistan";}
    60%{content: "Italy";}
    70%{content: "Turkey";}
    80%{content: "Mexico";}
    90%{content: "Germany";}
    100%{content: "United kingdom";}
} 
.Home h1
{
    color: rgb(14, 13, 13);
    font-size: 70px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    text-align: center;
}
.Home h2{
    color: rgb(11, 10, 10);
    font-size: 50px;
    font-weight: 550;
    text-shadow: 0px 1px 1px black;
    margin-top: 5px;
    text-align:center;
}
.Home p
{
    color:rgb(23, 21, 21);
    text-align: center;
    font-size: 30px;
    font-weight: 550;

}